{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/request.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="w3-top">
        <div class="w3-row w3-large w3-light-grey">
          <div class="w3-col s2">
            <a href="{{ path('index') }}" class="w3-button w3-block">Home</a>
          </div>
          <div class="w3-col s2">
            <a href="{{ path('index') }}#plans" class="w3-button w3-block">Plans</a>
          </div>
          <div class="w3-col s2">
            <a href="{{ path('index') }}#about" class="w3-button w3-block">About</a>
          </div>
          <div class="w3-col s2">
            <a href="{{ path('index') }}#contact" class="w3-button w3-block">Contact</a>
          </div>
          <div class="w3-col s2">
              <a href="{{ path('Registration') }}" class="w3-button w3-block">Register</a>
            </div>
            <div class="w3-col s2">
              <a href="{{ path('Login') }}" class="w3-button w3-block">Sign In</a>
            </div>
        </div>
      </div>
        {% for flashError in app.flashes('reset_password_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}
      <div class="container">
        <div class="row">
            <div class="col-10"><h1><b>Reset your password</b></h1></div>
        </div>
        {{ form_start(requestForm) }}
      <div class="row resetPassword">
          <div class="col-2">{{ form_label(requestForm.email, null, {'label_attr': {'class': 'resetEmailLabel'}}) }}</div>
          <div class="col-5">{{ form_widget(requestForm.email, {'attr': {'class': 'resetEmailWidget','placeholder': "Enter Email"}}) }}</div>
      </div>
        <div class="row">
            <div class="col-10"><button class="w3-button w3-block w3-black sub">Send password reset email</button></div>
        </div>  
        {{ form_end(requestForm) }}
        </div>
    <footer class="w3-container w3-padding-32 w3-light-grey w3-center">
        <h4>Footer</h4>
        <a href="#" class="w3-button w3-black w3-margin"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
        <div class="w3-xlarge w3-section">
          <i class="fa fa-facebook-official w3-hover-opacity"></i>
          <i class="fa fa-instagram w3-hover-opacity"></i>
          <i class="fa fa-snapchat w3-hover-opacity"></i>
          <i class="fa fa-pinterest-p w3-hover-opacity"></i>
          <i class="fa fa-twitter w3-hover-opacity"></i>
          <i class="fa fa-linkedin w3-hover-opacity"></i>
        </div>
      </footer>
{% endblock %}